<app-header></app-header>

<div class="site__content">

  <div class="site__centered">

    <div class="product">

      <div class="product__container">

        <div class="product__image">
          <img src="{{product && product.image || 'assets/img/no-image.png'}}" alt="">
        </div>

        <div class="product__wrap">

          <h1 class="product__title">{{product && product.title}}</h1>

          <div class="product__price">{{product && product.price}} <span class="product__price-sign">₴</span></div>

          <div class="product__txt">{{product && product.shortText}}</div>

        </div>

      </div>

    </div>

    <app-goods-info></app-goods-info>

  </div>

</div>

<app-footer></app-footer>
